.image{
    width: 100%;
    height: 70%;
}
.link{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.table{

       margin:auto;
       padding:auto ;

}
.all{
    background-color:  #ffebec;
    min-height:100vh;
    
  }
  .newR{
    background-color:#bb9493;
    margin-right: 70vw;
    font-size: 30px;
    height: 60px;
    width: 220px;
    border-radius: 4px;
    color:white;
     
 }
 .num{
     font-size: larger;
     color:#f71a3b;
     font-weight: bold;
 }
#s1{
    color:#fea0ae;
}
#s2{
    color:#fa7c8f;
}
#s3{
    color:#f55f76;
}
#s4{
    color:#fa4964;
}
#s5{
    color:#f82d4b;
}
#s6{
    color:#f71a3b;
}
 
