body{
    direction: rtl;
    background-color: rgb(255, 123, 145);
    min-height: 670px;
}


.rec{
    background: linear-gradient(to top right, #bb9493 0%,#ffebec 100%);
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    height: 35vh !important;
}
.bigRec{
    background: linear-gradient(to top right, #bb9493 0%,#ffebec 100%);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    height: 45vh !important;
}



.image{
    height: 210px;
    width: 100%;
    margin-top: 30px;
}
.link{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
label{
    font-size: 40px;
}
.marginAuto{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.cntr{
    text-align: center;
}
.all{
    direction: rtl;
    width: 86.5%;
    float: left;
    background-color: white !important;
    z-index: -1;
    min-height: 70vh;
    /* margin-top: 100px; */
    margin-left: 2.4vw;
}

.category{
    margin: 40px ;
}