<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head> -->
<div class="all">
     <div style="height: 50px;"></div>
    <h2 *ngIf="userS.status==3">שלום ל{{this.user.name}} היקר</h2>
    <i *ngIf="userS.status==3" class="glyphicon glyphicon-user" style="font-size:48px;color: cornflowerblue;"></i>
    <p *ngIf="userS.status==3">משתמש</p>
   
    <h2 *ngIf="userS.status==2">שלום ל{{this.baker.name}} היקר</h2>
    <p *ngIf="userS.status==2">שף</p>
    <i *ngIf="userS.status==2" class="material-icons" style="font-size:48px;color:cornflowerblue">cake</i>
    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" href="#">Logo</a>

  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li> -->

    <!-- Dropdown -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>
<br> -->
  
<div class="container">
 
</div>

  <router-outlet></router-outlet>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">דף הבית</a></li>
        <li><a [routerLink]="['/chooseLogIn']">רישום</a></li>
        <li><a [routerLink]="['/identifaction']">הזדהות</a></li>
        <li *ngIf="userS.status==1"><a [routerLink]="['/AllBakers']">הצגת כל השפים</a></li>
        <li *ngIf="userS.status==1"><a [routerLink]="['/AllUsers']">הצגת כל המשתמשים</a></li>
        <li class="dropdown" >
          <a class="dropdown" data-toggle="dropdown" href="#">חיפוש בקליק
          <span class="caret"></span></a>
          <ul class="dropdown">
            <li><a [routerLink]="['/SearchByPrice']" >חיפוש לפי מחיר</a></li>
            <li><a [routerLink]="['/SearchByBaker']">חיפוש לפי שף</a></li>
            <li><a [routerLink]="['/SearchByCategory']">חיפוש לפי סיווג מתכון</a></li>
            <li><a [routerLink]="['/SearchByGrade']">חיפוש לפי דרוג ממוצע</a></li>
            <li><a [routerLink]="['/SearchByTime']">חיפש לפי זמן הכנה</a></li>
          </ul>
        </li>
        <!-- <li><a [routerLink]="['/AddRecipeNewBaker']">AddRecipeNewBaker</a></li>
        <li><a [routerLink]="['/chooseLogIn']">עchooseLogIn</a></li> -->
        <li><a [routerLink]="['/updatePrice']">עדכון מחיר מוצר</a></li>
        <li *ngIf="userS.status==2"><a [routerLink]="['/AddRecipe']">הוספת מתכון</a></li>
        <!-- <li *ngIf="userS.status==2"><a [routerLink]="['/UpdateDetails']">עריכת מתכון</a></li> -->
        <li *ngIf="this.userS.status==2"><a [routerLink]="['/MyRecips']">עדכון מתכון</a></li>
        <li *ngIf="this.userS.status==2"><a [routerLink]="['/MyRecips2']"> המתכונים שלי</a></li>
        <li *ngIf="this.userS.status==3"><a [routerLink]="['/AddGrade']">הוסף דרוג</a></li>
        <li><a [routerLink]="['/AllRecipe']">כל המתכונים</a></li>

        <li class="dropdown" >
          <a class="dropdown" data-toggle="dropdown" href="#">הדרוגים שלי
          <span class="caret"></span></a>
          <ul class="dropdown">
            <li><a [routerLink]="['/AllGrade']">צפיה בכל הדרוגים</a></li>
            <li *ngIf="this.userS.status==2"><a [routerLink]="['/leaderBaker']">אני ביחס לשפים</a></li>
            <li *ngIf="this.userS.status==2"><a [routerLink]="['/AvgGrade']">הדרוגים שלי</a></li>
            <li><a [routerLink]="['/favoriteRecipe']">המתכון האהוב ביותר</a></li>
            <li><a [routerLink]="['/LeaderBaker']">סולם השפים</a></li>
          </ul>
        </li>
        <li><a *ngIf="this.userS.status>0" [routerLink]="['/home']" (click)="logOff()">התנתקות</a></li>
        <li><a *ngIf="this.userS.status>0" [routerLink]="['/UpdateMyDetails']">עריכת פרטים אישיים</a></li>
      </ul>
    </div>
  </nav>

  <!-- <div style="height: 120px;"></div>

   <div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div> -->
  <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">חיפוש בקליק</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/SearchByPrice']" >חיפוש לפי מחיר</a></li>
        <li><a [routerLink]="['/SearchByBaker']" >חיפוש לפי שף</a></li>
        <li><a [routerLink]="['/SearchByCategory']" >חיפוש לפי סיווג מתכון</a></li>
        <li><a [routerLink]="['/SearchByGrade']" >חיפוש לפי דרוג</a></li>
        <li><a [routerLink]="['/SearchByTime']" > חיפוש לפי זמן הכנה</a></li> 
        <li><a [routerLink]="['/AllGrade']" > צפיה בכל הדירוגים</a></li> 
        <li ><a [routerLink]="['/AvgGrade']" >הדירוגים שלי</a></li>
        <li ><a [routerLink]="['/leaderBaker']" >אני ביחס לשפים</a></li>
       
        <li><a [routerLink]="['/AddRecipe']" > הוספת מתכון </a></li>
      </ul>
    </div>
  </nav> -->
  
  <!-- <li *ngIf="userS.status==2"><a [routerLink]="['/AddRecipe']" > הוספת מתכון </a></li> -->
   <!-- <form class="navbar-form navbar-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form> -->
  
  
  <!-- <div class="row">
      <div  class="col-md-4 mt-5 mr-5" *ngFor="let item of recipes"> 
          <div class="rec mt-5 mr-5">   
              <img  src="http://localhost:52298/pictures/{{item.image}}" class="image">
              <a [routerLink]="['/watchRecipe',item.id]" class="link">{{item.name}}</a>
          </div>  
      </div>
  </div> -->

  <!-- <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">Jason Doe</h4>
          <p class="font-weight-light text-muted mb-0">Web developer</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic bg-light">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Home
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  About
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Services
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Gallery
              </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                  Area charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                  Bar charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                  Pie charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                  Line charts
              </a>
      </li>
    </ul>
  </div> -->
  <!-- End vertical navbar -->
  
  
  <!-- Page content holder -->
  <div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
  
    <!-- Demo content -->
    <!-- <h2 class="display-4 text-white">Bootstrap vertical nav</h2>
    <p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
    <p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
          <u>Bootstrapious</u></a>
    </p> -->
    <div class="separator"></div>
    <div class="row text-white">
      <div class="col-lg-7">
        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor.
        </p> -->
        <div class="bg-white p-5 rounded my-5 shadow-sm">
          <!-- <p class="lead font-italic mb-0 text-muted">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> -->
        </div>
        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor.
        </p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor.
        </p> -->
      </div>
      <div class="col-lg-5">
        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor.
        </p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor.
        </p> -->
      </div>
    </div>
  
  </div>
  <!-- End demo content -->



  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner crsl" role="listbox">
      <div class="item active crsl" >
        <img src="http://localhost:52298/picture/19.jpg" class="img crsl">
      </div>
  
      <div class="item">
        <img src="http://localhost:52298/picture/12.jpg"  class="img">
      </div>
  
      <div class="item">
        <img src="http://localhost:52298/picture/8.jpg"  class="img">
      </div>
  
      <div class="item">
        <img src="http://localhost:52298/picture/4.jpg" class="img">
      </div>
    </div>
   
  
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- {{this.userS.selected.id}}
  {{this.Susr.id}} -->
  <!-- {{userS.status}}
  {{this.userS.selected.name}}
  <button>{{this.userS.selected.name}} </button> -->
  <button (click)="sendMail()">לחץ עלי</button>
</div>

