
.ui-dialog-titlebar{float: left;}
select{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e21559;
    text-align: center;
    border-bottom: 10px solid #e21559;
  }/* body {

    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  } */

  label{
    font-size: 25px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #e21559;
  }

  mat-datepicker{
    color: #e21559;
  }
  mat-icon{
    font-size: 25px;
    color: #e21559;
  }

  
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #e21559 !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #e21559 !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #e21559 !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #e21559 !important;
   }
   
   
   mat-datepicker-toggle {
    color: #e21559 !important;
   }
   .mat-calendar-body-cell.selected
   {
     background-color:red!important;
     border-radius: 50%
   }
   .drop-calendar
   {
     width:30rem
   }

   .divAL{

      background-color: #fefefe;
      margin: 5px auto; /* 15% from the top and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     padding-top: 60px;
}

div.panel{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e21559;
  text-align: center;
  border-bottom: 10px solid #e21559;

}

h1{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4d4646;
  text-decoration: #e21559 underline;
  text-align: center;
}
.inpbtn{
  
  background-color:#e71264;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #7c7c7c;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  padding:10px 10px;
  text-decoration:none;
    font-family: 'Indie Flower', cursive;
    margin-right: 10px;
    text-align: center;
}



.divWar{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #b61818;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:5px solid #7c7c7c;
}

.modal {
  display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
.example-full-width{
    width: 100%;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


