<!-- <div style="height: 100px;"></div> -->
<!-- <body>
<p style="height: 1000px; width: 1000px; background-color:blueviolet ;">
  leader-baker works!
</p>
</body> -->
<!-- <div *ngFor="let item of listLeaderBaker" style="margin-left: 20px;" > 
    <div class="row">
      <div >hhhhhhhhhhhhhhhh</div>
    <div>{{item.avgGrade}}</div>
    <div>{{item.name}}</div>
    </div>
  </div> -->
<!-- *ngIf="item.password==this.useresService.selected.password" -->

<img src="../../assets/pictures/logo1.jpg" style="margin-left: 350px;  height: 650px; width: 650px;">